.search-box__form {
    display: flex;
}

.search-box__form-label {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}

.search-box__form-input {
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    width: 300px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
}

.search-box__form-submit {
    margin-top: 17px;
    padding: 5px 10px;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background: -webkit-linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-box__form-submit:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #FFEEDB;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}