.movie-item {
    padding: 20px;
    background: -webkit-linear-gradient(90deg, #f7c316,#ff916c,#f882b0);background: linear-gradient(90deg, #f7c316,#ff916c,#f882b0);
    display: flex;
}

.movie-item__poster {
    height: 150px;
    margin-right: 21px;
}

.movie-item__title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movie-item__add-button {
    border: none;
    background: -webkit-linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.movie-item__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}