.header {
    background: -webkit-linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #c4003e,#65ea5b,#7DD9F2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                               
    padding: 20px calc(50% - 500px) 10px;
    
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}
